
section {
    background-color: lightslategray;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 15px;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
}
.parte {
    border: solid 1px #fafafa44;
    box-shadow: 2px 2px 10px black;
    width: 250px;
    padding: 8px;
    margin: 20px;
    margin-top:25px ;
    
}
.parte a:hover {
    background-color: ;
}
.parte img {
    width: 100%;
}
