/* Cores para usar no projeto 


azul grecia : #017EC0;
azul claro: #48B1EA

laranja : #F45A1B;
laranja claro: #EA8760

marrom : #744A31;
marro claro:#B3714B

*/
section {
    background-color: rgb(4, 36, 68);
}